beautifulsoup4==4.10.0

html5lib
lxml

#documentation (swagger)
drf-yasg==1.20.0

# authentication
PyJWT==2.3.0

# media files
Pillow==8.4.0

# email sending
sendgrid==6.8.3

# extra-fields (base64 for photo, etc)
drf-extra-fields

python-dotenv==0.19.2


requests~=2.26.0